.extended_section-fieldtype {
    box-shadow: none;
    box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
    margin-top: 10px!important;
}
.extended_section-fieldtype:first-of-type{
    margin-top: 10px!important;
}

/**
 * Background color
 * Based on the material [design color palette](https://material.google.com/style/color.html#color-color-palette)
 */
.extended_section-fieldtype.color-red {
    background: #FFCDD2;
}

.extended_section-fieldtype.color-green {
    background: #C8E6C9;
}

.extended_section-fieldtype.color-blue {
    background: #B3E5FC;
}

.extended_section-fieldtype.color-orange {
    background: #FFE0B2;
}

.extended_section-fieldtype.color-pink {
    background: #F8BBD0;
}

.extended_section-fieldtype.color-purple {
    background: #9C27B0;
}

.extended_section-fieldtype.color-brown {
    background: #E1BEE7;
}

.extended_section-fieldtype.color-black {
    background: #212121;
    color: white;
}

.extended_section-fieldtype.color-grey-30 {
    background: #EEEEEE;
}

.extended_section-fieldtype.color-grey-50 {
    background: #E0E0E0;
}

.extended_section-fieldtype.color-grey-80 {
    background: #BDBDBD;
}

/**
 * Text color
 */
.extended_section-fieldtype label,
.extended_section-fieldtype .help-block {
    color: inherit;
}

.extended_section-fieldtype .help-block {
    opacity: 1;
    padding-right: 1rem;
}